# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Configuration file
.env
debug.env
admin.env
client.env
cloud.env
logrus.log
sqlite.db
test.db
# Build folder
/build

# IDE configuration
/.idea